doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='Cierra sessión.')
		meta(name='author', content='Open Source Weekends')
		title Cerrar Sesión - Telemetría FormulaUC3M - OSW
		script(src='../resources/js/logout.js')
	body