doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='Formulario de rangos.')
		meta(name='author', content='Open Source Weekends')
		title Rangos - Telemetría FormulaUC3M - OSW
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
		link(href='../resources/css/forms.css', rel='stylesheet')
		script(src='../resources/js/ranges.js')
	body
		header
			h1 Formulario de Rangos
		
		.container#page-content
		
		footer
			p.mt-5.mb-3.text-muted.text-center © FormulaUC3M - Open Source Weekends 2018